*{
    box-sizing: border-box;
    color-scheme: dark;
}
header {
    background-color: #3a1f42;
    color: #e1cae8;
    text-align: center;
}
main {
    background-color: #41254a;
    color: #e1cae8;
    text-align: center;
}
    
