header {
    background-color: #3a1f42;
    color: #e1cae8;
    text-align: center;
    margin: 0;
    padding: 1;
    border: 1 solid black;
    
}
body {
    background-color: #41254a;
    color: ##e6d5eb;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}
main {
   color: ##e6d5eb; 
   text-align: center;
}
