header {
    background-color: #3a1f42;
    color: #e1cae8;
    text-align: center;
    margin: 0;
    padding: 1;
    border: 1 solid black;
}
body {
    background-color: #3a1f42;
    color: #e6d5eb;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #1b0e1f;
    color: #e6d5eb;
    text-align: center;
    margin: 0;
    padding: 20;
    height: 20;
}
main {
   color: #e6d5eb; 
   text-align: center;
   background-color: #41254a;
   margin: 0;
   padding: 0;
   height: 100%;
}
